
:host {
    display: block;
    width: 400px;
}

mat-card {
    mat-card-hearder {
        display: flex;
        justify-content: center;

        mat-card-title {
            font-size: 2rem;
            color: blue($color: #000000);
        }   
    }

}