<div class="register-form">
    Form
</div>

<div class="library-info">
    <h1>Information</h1>
    <mat-list>
        <mat-list-item>
        <p>Once you create account, approval request will be sent to admin. If that is approved, your account will be created.</p>
        </mat-list-item>
        <mat-list-item>
        <p>You can have maximum 3 books ordered that have not been returned.</p>
        </mat-list-item>
        <mat-list-item>
        <p>You can keep a book with you for maximum 10 days.</p>
        </mat-list-item>
        <mat-list-item>
        <p>If book is not returned after 10 days, you will receive an email.</p>
        </mat-list-item>
        <mat-list-item>
        <p>After 10th day, a fine of 50Rs will be imposed everyday and on every book that has not been returned. This fine will be sent you in the email everyday.</p>
        </mat-list-item>
        <mat-list-item>
        <p>If your fine exceeds 500Rs or the book is damaged, Admin can block your account.</p>
        </mat-list-item>
    </mat-list>
</div>